/* Developer Tools */
.boxHelper {
  color: #fff;
  background-color: red;
  text-align: center;
}

/* General Rules */
body {
  font-family : 'Varela Round', sans-serif;
  color: #fff;
  background-color: #ff9bc6;
}

h2 {
  font-family : 'Pacifico', cursive;
}

li {
  font-family : 'Pacifico', cursive;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
}

/* Header */
#mainHeader {
  padding-top: 10px;
  background-color: #ee57a1;
}

.title-bar {
  background-color: #ee57a1;
  float: right;
}

.title-bar .menu-icon {
  margin-right: 0;
  color: #fff;
}

#mainNav {
  margin: 0 auto;
  margin-top: 35px;
  list-style-type: none;
  text-align: center;
}

#mainNav li a {
  font-size: 1.125em;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #ff9bc6;
  color: #ff9bc6;
  background-color: #fff;
}

/* Intro Screen */
#mainIntro {
  text-align: center;
  background-color: #ee57a1;
  padding-bottom: 25px;
}

#mainIntro img {
  height :  75%;
  width: 75%;
  margin-top: 20px;
  margin-bottom: 10px;
}

#mainIntro h2 {
  margin: 0 auto;
  font-size : 2em;
  padding-bottom: 10px;
  border-bottom: 2px solid #fff;
  width: 80%;
}

#mainIntro h3 {
  font-family: 'Varela Round', sans-serif;
  font-size: 1em;
  margin-top: 10px;
}

/* Bio */
#mainBio {
  background-color: #555;
}

#mainBio h2 {
  font-size: 2.125em;
  margin-top: 5px;
  margin-left: 10px;
}

#mainBio p {
  font-size: 1em;
  margin-left: 10px;
  margin-bottom: 10px;
}

/* Illustration & Design */
#illCon {
  text-align: center;
  background-image: url(../images/greenStripes.jpg);
  padding-top: 50px;
  padding-bottom:45px;
}

#illCon:hover {
  color: #555;
  text-decoration: underline;
  cursor: pointer;
}

#illCon h2 {
  font-size: 2em;
}

#desCon {
  text-align: center;
  background-image: url(../images/blueDots.jpg);
  padding-top: 50px;
  padding-bottom:45px;
}

#desCon:hover {
  color: #555;
  text-decoration: underline;
  cursor: pointer;
}

#desCon h2 {
  font-size: 2em;
}

/* Video */
#mainVideo {
  background-color: #9ba0ff;
  padding-bottom: 20px;
}

#mainVideo h2 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 1.75em;
}

/* Contact Form */
#mainContact h2 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 1.5em;
}

#mainContact form {
  font-family: "Varela Round", sans-serif;
}

#mainContact form input {
  border: 3px solid #ee57a1;
  border-radius: 10px;
  margin-top: 0px;
  margin-bottom: 15px;
}

#mainContact form textarea {
  border: 3px solid #ee57a1;
  border-radius: 10px;
  margin-top: 0px;
  margin-bottom: 15px;
}

#mainContact form button {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  background-color: #9bff9b;
  border: 4px solid #ee57a1;
  border-radius: 15px;
  margin-top: 0px;
  margin-bottom: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Pacifico', cursive;
  font-size: 2.125em;
  color: #fff;
}

#mainContact form button:hover {
  color: #555;
}

/* Footer */
#mainFooter {
  background-color: #ee57a1;
  padding-top: 20px;
  padding-bottom: 15px;
}

#footerNav {
  display: none;
  font-size: .6em;
}

#footerNav li a{
  font-family: "Varela Round", sans-serif;
}

#footerNav li a:hover {
  color: #fff;
  text-decoration: underline;
}

#topButton {
  margin-left: 50px;
}

#topButton:hover {
  color: #fff;
  text-decoration: underline;
}
/* Media Queries */
@media screen and (min-width: 26.625em) {
  /*Bio*/
  #mainBio {background-image: url(../images/chibi-drawing.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;}
  /*Intro Screen*/
  #mainIntro img {height: 50%; width: 50%; margin-top: 50px; margin-bottom: 35px;}
  #mainIntro h2 {font-size: 3em; width: 50%; padding-bottom:20px;}
  #mainIntro h3 {font-size: 1.25em; margin-top: 20px;}
  /*Illustrations & Design*/
  #illCon {padding-top: 75px; padding-bottom: 70px;}
  #desCon {padding-top: 75px; padding-bottom: 70px;}
  /* Video */
  #mainVideo h2 {font-size: 2em;}
  /* Contact Form */
  #mainContact h2 {font-size: 2em;}
}

@media screen and (min-width: 64em) {
  /*Header*/
  #mainHeader {position: relative; max-width: none;}
  #mainNav {text-align: right; margin-top: 5px; margin-right: 10px;}
  #mainNav li {display: inline; margin-left: 15px; margin-right: 15px; font-size: 1.25em;}
  #mainNav li a {display: inline; border-top: none; font-size: 1em; color: #fff; background: none;}
  #mainNav li a:hover {color: #fff; border-bottom: 1px solid #fff;}
  /* Intro Screen */
  #mainIntro img {margin-top: 100px; height: 35%; width: 35%;}
  /* Bio */
  #mainBio {background-size: 35%; min-height: 350px;}
  /* Illustrations and Designs */
  #illCon h2 {padding-top: 170px; padding-bottom: 170px; font-size: 3em;}
  #desCon h2 {padding-top: 170px; padding-bottom: 170px; font-size: 3em;}
  #illCon:hover {background-image: url(../images/illus-example.png);}
  #desCon:hover {background-image: url(../images/des-example.png); background-size: 120%; background-repeat: no-repeat;}
  /* Video */
  #videoPlayer {margin: 0 auto;}
  #mainVideo {font-size: 2em;}
  /*Footer*/
  #topButton {display: none;}
  #footerNav {display: inline;}
  #mainFooter {list-style: none; margin: 0; padding: 0; font-size: 1.5em;}
  #mainFooter li {display: inline; margin-left: 15px; margin-right: 15px; font-size: 1.25em;}
  #mainFooter li a {display: inline; border-top: none; font-size: 1em; color: #fff; background: none;}
  #mainFooter li a:hover {color: #fff; border-bottom: 1px solid #fff;}
}
